target/

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

/.DS_Store