<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OnCue service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  @minified=@{ if (play.Play.isProd()) ".min" else "" }
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap"+ minified + ".css")">

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <style>
      body {
          padding-top: 60px;
      }
  </style>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/responsive"+ minified + ".css")">
</head>

<body>
  <div id="navbar"></div>

  <div class="container">
    <div class="row">
      <div id="content"></div>
    </div>
  </div>

  @*--------------------
   *--- Common Views ---
   *------------------*@

  <script type="text/template" id="loading_view">
    <div class="well well-small">
      <span class="text-info"><%= message %></span>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="error_view">
    <strong>Error!</strong> <%= message %>
  </script>

  @*--------------------
   *--- Navbar Views ---
   *------------------*@

  <script type="text/template" id="navbar_list_layout">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="connection_region"></div>
        <div id="navbar_items_region"></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="connection_view">
    <i></i>
    nCue
  </script>

  <script type="text/template" id="navbar_item_view">
    <a href="<%= url %>"><%= name %></a>
  </script>

  @*------------------
   *--- Jobs Views ---
   *----------------*@

  <script type="text/template" id="jobs_show_layout">
    <ul class="breadcrumb">
      <li><i class="icon-arrow-left muted"></i> <a href="/jobs">Jobs</a> <span class="divider">/</span></li>
      <li class="active">Job <%= id %></li>
    </ul>
    <div class="page-header">
      <h1>
        Job <%= id %>
        <small><%= showWorker() %></small>
      </h1>
    </div>
    <div id="details_region"></div>
    <div id="params_region"></div>
  </script>

  <script id="job_details_view" type="text/template">
    <legend>Details</legend>
    <table>
      <tbody>
        <tr>
          <th>Worker Type</th>
          <td class="monospace"><%= worker_type %></td>
        </tr>
        <tr>
          <th>Enqueued</th>
          <td><%= showEnqueuedAt() %></td>
        </tr>
        <tr>
          <th>State</th>
          <td class="capitalised"><%= state %></td>
        </tr>
      </tbody>
    </table>
  </script>

  <script id="job_param_view" type="text/template">
    <tr>
      <th><%= key %></th>
      <td><%= value %></td>
    </tr>
  </script>

  <script id="job_params_view" type="text/template">
    <legend>Parameters</legend>
    <table>
      <tbody></tbody>
    </table>
  </script>

  <script type="text/template"id="no_jobs_view">
    <h4>No Jobs</h4>
    No jobs have been run yet.  You could try <a href='#'>running a test job</a> to check everything is working properly.
  </script>

  <script type="text/template" id="jobs_list_layout">
    <div id="toolbar_region"></div>
    <div id="error_region"></div>
    <div id="jobs_region"></div>
  </script>

  <script type="text/template" id="job_list_progress">
   <div class='progress'>
     <div class='bar' style='width: <%= progress * 100 %>%'></div>
   </div>
  </script>

  <script type="text/template" id="job_list_id">
   <a href='jobs/<%= id %>' id='<%= id %>'>Job <%= id %></a>
  </script>

  @*------------------
   *--- Grid Views ---
   *----------------*@

  <script type="text/template" id="grid_layout">
    <div id="grid_region"></div>
    <div id="paginator_region"></div>
  </script>

  @*---------------------
   *--- Toolbar Views ---
   *-------------------*@

  <script type="text/template" id="toolbar_view">
    <div class="toolbar-items"></div>
    <div class="clearfix"></div>
  </script>

  <script type="text/template" id="toolbar_button_view">
    <% if (typeof(iconClass) != "undefined") { %>
      <i class="<%= iconClass %>"></i>
    <% } %>
    <%= title %>
  </script>

  <script type="text/template" id="toolbar_filter_view">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="title muted"><%= title %>:</span>
        <% if (filtered) { %>
           <span class='text-info'>Filtered</span>
        <% } else { %>
          <span>All</span>
        <% } %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu"></ul>
  </script>

  <script type="text/template" id="toolbar_filter_item_view">
    <a>
      <label class="checkbox">
        <% if (selected) { %>
           <input type="checkbox" checked="checked">
        <% } else { %>
          <input type="checkbox">
        <% } %>
        <%= title %>
      </label>
    </a>
  </script>

  @*--------------------
   *--- Agents Views ---
   *------------------*@

  <script type="text/template"id="no_agents_view">
    <h4>No Agents</h4>
    No agents are currently registered with the service.
  </script>

  <script type="text/template"id="agents_list_view">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>URL</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </script>

  <script type="text/template"id="agents_item_view">
    <td><%= id %></td>
    <td>&mdash;</td>
  </script>

  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/underscore-1.4.4.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/moment-2.0.0.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backbone-1.0.0.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backbone-pageable.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backbone.picky.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backbone.marionette-1.0.3.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backbone-relational-0.8.5.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backgrid.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backgrid-paginator.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backgrid-select-all.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/backgrid-moment-cell.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/common/views.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/entities/common.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/entities/websocket.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/entities/navbar.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/entities/agent.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/entities/job.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/apps/navbar/navbar_app.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/navbar/list/list_controller.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/navbar/list/list_view.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/components/toolbar/toolbar_model.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/components/toolbar/toolbar_controller.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/components/toolbar/toolbar_views.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/components/grid/grid_model.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/components/grid/grid_controller.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/components/grid/grid_views.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/apps/jobs/jobs_app.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/jobs/list/list_controller.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/jobs/list/list_view.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/jobs/show/show_controller.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/jobs/show/show_view.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/apps/agents/agents_app.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/agents/list/list_controller.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/apps/agents/list/list_view.js")" type="text/javascript"></script>

  <script type="text/javascript">
      App.start();
  </script>
</body>
</html>
