@import "bootstrap/variables";
@import "bootstrap/mixins";

#loading {
  width: 200px;
  margin: 100px auto 0 auto;
  .progress {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.monospace {
  font-family: monospace;
}

.bold {
  font-weight: bold;
}

.capitalised {
  &:first-letter {
    text-transform: capitalize;
  }
}

.navbar {
  a.brand {
    cursor: default;
    i {
      margin-right: -5px;
    }
  }
}

#jobs_list {
  #toolbar_region {
    margin-top: -21px;
  }
  .well {
    padding: 15px;
  }
  .progress {
    margin-bottom: 0;
  }
  table {
    th:nth-child(1), td:nth-child(1) {
      width: 1%;
    }
    th:nth-child(2), td:nth-child(2) {
      border-right: 1px solid @grayLighter;
      text-align: right;
      width: 1%;
      white-space: nowrap;
      padding-right: 20px;
    }
    th:nth-child(3), td:nth-child(3) {
      padding-left: 20px;
    }
  }
}

#jobs_show {
  .breadcrumb {
    margin-top: -20px;
  }
  .page-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #params_region {
    margin-top: 15px;
  }
  table {
    th {
      text-align: right;
      min-width: 133px;
    }
    th, td {
      padding: 10px;
    }
  }
}

// Old is below here...

//.navbar {
//  a.brand {
//    cursor: help;
//    i {
//      margin-right: -5px;
//    }
//  }
//  .nav a {
//    cursor: pointer;
//  }
//}
//
//.progress {
//  margin-bottom: 0;
//}
//
//button#run-first-job {
//  margin-top: -35px;
//}
//
//#job-tools a {
//  cursor: pointer;
//}
//
//table#jobs, table#job {
//  td {
//    &.id {
//      white-space: nowrap;
//    }
//    &.enqueued-at {
//      white-space: nowrap;
//    }
//    &.worker-type {
//      .monospace;
//    }
//    &.progress-container {
//      width: 25%;
//    }
//    &.state {
//      .capitalised;
//    }
//  }
//  tr.complete {
//    background-color: @successBackground;
//    td.id a {
//      color: @successText;
//      &:hover, focus {
//        color: darken(@successText, 10%);
//      }
//    }
//  }
//  tr.failed {
//    background-color: @errorBackground;
//    td.id a {
//      color: @errorText;
//      &:hover, focus {
//        color: darken(@errorText, 10%);
//      }
//    }
//  }
//}
//
//table#job {
//  th {
//    width: 20%;
//  }
//  tr:first-child {
//    th, td {
//      border-top: none;
//    }
//  }
//  tr.complete {
//    background-color: transparent;
//    td.state {
//      color: @successText;
//    }
//  }
//  tr.failed {
//    background-color: transparent;
//    td.state {
//      color: @errorText;
//    }
//  }
//}
//
//table#params {
//  td.key {
//    .monospace;
//    width: 1%;
//    white-space: nowrap;
//    text-align: right;
//  }
//  th, td {
//    border: none;
//    vertical-align: top;
//  }
//  margin: -5px;
//}
//
//#processing-jobs {
//  i.icon-time {
//    color: blue;
//  }
//  i.icon-play {
//    color: green;
//  }
//}