.monospace {
    font-family: monospace;
}

.navbar {
    a.brand i {
        margin-right: -5px;
    }
    #connection-state {
      margin-top: 8px;
    }
}

#processing-jobs {
  i.icon-time {
    color: blue;
  }
  i.icon-play {
    color: green;
  }
}